<%- model_class = Serial -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag serials_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil, :class => 'btn' %>
  </p>
<% end %>

<div id="facets">
  <h3>Location</h3>
  <ul>
    <% for row in @search.facet(:floor).rows %>
      <li>
        <% if params[:location].blank? %>
          <%= link_to row.value, :location => row.value %> (<%= row.count %>)
        <% else %>
          <b> <%= row.value %> </b> (<%= link_to "X", :location => nil %>)
        <% end %>
      </li> 
    <% end %>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:volume) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:floor) %></th>
      <th><%= model_class.human_attribute_name(:row) %></th>
      <th><%= model_class.human_attribute_name(:section) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <!--<th><#= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @serials.each do |serial| %>
      <tr>
        <td><%= link_to serial.id, serial_path(serial) %></td>
        <td><%= serial.title %></td>
        <td><%= serial.volume %></td>
        <td><%= serial.year %></td>
        <td><%= serial.floor %></td>
        <td><%= serial.row %></td>
        <td><%= serial.section %></td>
        <td><%= serial.notes %></td>
        <!--<td><#=l serial.created_at %></td>-->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_serial_path(serial), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      serial_path(serial),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_serial_path,
            :class => 'btn btn-primary' %>
