<!DOCTYPE html>
<html>
<head>
  <title>Serials Locator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
   <%= render 'layouts/user_widget' %> 
  </div><!-- /.container-fluid -->
</nav>

<% if flash[:notice] %>
 <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
 <p class="alert alert-info"><%= alert %></p>
<% end %>
<div class="container">
	<%= yield %>
</div>	
</body>
</html>



